///////////////////////////////////////////////////////////////////
// Sass Mixins which will be used by the modules                 //
///////////////////////////////////////////////////////////////////

//===============================================================//
//          Automatically add vendor prefixes in one hit         //
//===============================================================//
//      .fadeIn {                                                //
//          @include animate-prefixer(animation, 'fadeIn');        //
//      }                                                        //
//===============================================================//
//                                                               //
//===============================================================//
@mixin animate-prefixer($property, $value...) {
    -webkit-#{$property}: unquote('#{$value}');
    #{$property}: unquote('#{$value}');
}
//===============================================================//
// Generate keyframes animations with vendor prefixes in one hit //
//===============================================================//
//      .fadeIn {                                                //
//          @include animate-prefixer(animation, fadeIn);        //
//      }                                                        //
//      @include animate-keyframe(fadeIn) {                      //
//          0% {opacity: 0;}                                     //
//          100% {opacity: 1;}                                   //
//      }                                                        //
//===============================================================//
// Courtesy of @integralist: (twitter.com)                       //
//===============================================================//

@mixin animate-keyframe($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

//===============================================================//
// Customize pre-existing animations and create one-offs         //
//===============================================================//
//      .fadeInSlow {                                            //
//          @include animate-custom(fadeIn, 4s);                 //
//      }                                                        //
//===============================================================//
// Courtesy of @aviladotandres: (twitter.com)                    //
//===============================================================//
@mixin animate-custom( $name,
        $duration:$base-duration,
        $delay:false,
        $direction:false,
        $fill:false,
        $count:false,
        $state:false ) {
    animation-name: $name;
    @if $duration {
      @include animate-prefixer(animation-duration, $duration);
    }
    @if $delay {
      @include animate-prefixer(animation-delay, $delay);
    }
    @if $direction {
      @include animate-prefixer(animation-direction, $direction);
    }
    @if $fill {
      @include animate-prefixer(animation-fill-mode, $fill);
    }
    @if $count {
      @include animate-prefixer(animation-iteration-count, $count);
    }
    @if $state {
      @include animate-prefixer(animation-play-state, $state);
    }
}
