@if $use-jello == true {

	@-webkit-keyframes jello {
		from, 11.1%, to { -webkit-transform: none; }
		22.2% { -webkit-transform: skewX(-12.5deg) skewY(-12.5deg); }
		33.3% { -webkit-transform: skewX(6.25deg) skewY(6.25deg); }
		44.4% { -webkit-transform: skewX(-3.125deg) skewY(-3.125deg); }
		55.5% { -webkit-transform: skewX(1.5625deg) skewY(1.5625deg); }
		66.6% { -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg); }
		77.7% { -webkit-transform: skewX(0.390625deg) skewY(0.390625deg); }
		88.8% { -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg); }
	}

	@-moz-keyframes jello {
		from, 11.1%, to {  -moz-transform: none; }
		22.2% {  -moz-transform: skewX(-12.5deg) skewY(-12.5deg); }
		33.3% {  -moz-transform: skewX(6.25deg) skewY(6.25deg); }
		44.4% {  -moz-transform: skewX(-3.125deg) skewY(-3.125deg); }
		55.5% {  -moz-transform: skewX(1.5625deg) skewY(1.5625deg); }
		66.6% {  -moz-transform: skewX(-0.78125deg) skewY(-0.78125deg); }
		77.7% {  -moz-transform: skewX(0.390625deg) skewY(0.390625deg); }
		88.8% {  -moz-transform: skewX(-0.1953125deg) skewY(-0.1953125deg); }
	}

	@-o-keyframes jello {
		from, 11.1%, to { -o-transform: none; }
		22.2% { -o-transform: skewX(-12.5deg) skewY(-12.5deg); }
		33.3% { -o-transform: skewX(6.25deg) skewY(6.25deg); }
		44.4% { -o-transform: skewX(-3.125deg) skewY(-3.125deg); }
		55.5% { -o-transform: skewX(1.5625deg) skewY(1.5625deg); }
		66.6% { -o-transform: skewX(-0.78125deg) skewY(-0.78125deg); }
		77.7% { -o-transform: skewX(0.390625deg) skewY(0.390625deg); }
		88.8% { -o-transform: skewX(-0.1953125deg) skewY(-0.1953125deg); }
	}

	@keyframes jello {
		from, 11.1%, to { transform: none; }
		22.2% { transform: skewX(-12.5deg) skewY(-12.5deg); }
		33.3% { transform: skewX(6.25deg) skewY(6.25deg); }
		44.4% { transform: skewX(-3.125deg) skewY(-3.125deg); }
		55.5% { transform: skewX(1.5625deg) skewY(1.5625deg); }
		66.6% { transform: skewX(-0.78125deg) skewY(-0.78125deg); }
		77.7% { transform: skewX(0.390625deg) skewY(0.390625deg); }
		88.8% { transform: skewX(-0.1953125deg) skewY(-0.1953125deg); }
	}

	.jello {
		@include animate-prefixer(animation-name, jello);
		transform-origin: center;
	}

}
