$animate-name: 'zoomOutDown';

@mixin zoomOutDown($prefix: '') {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
		#{$prefix}transform: scale3d(.3, .3, .3);
	}

	100% {
		opacity: 0;
	}
}

@if $use-zoomOutDown == true {

	@-webkit-keyframes #{$animate-name} {
		@include zoomOutDown('-webkit-');
	}

	@-moz-keyframes #{$animate-name} {
		@include zoomOutDown('-moz-');
	}

	@-o-keyframes #{$animate-name} {
		@include zoomOutDown('-o-');
	}

	@keyframes #{$animate-name} {
		@include zoomOutDown();
	}

	.#{$animate-name} {
		@include animate-prefixer(animation-name, $animate-name);
	}

}
